*.py[cod]
__pycache__/
*.so
.Python
build/
dist/
*.egg-info/
.env
.venv/
venv/
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
!storage/app/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!storage/logs/.gitkeep
.coverage
.pytest_cache/
.vscode/
.idea/
.DS_Store
